In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

data_df = pd.read_csv("data.csv")

print(data_df.head(5))
print(data_df.describe())

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500
        Product_Code Warehouse Product_Category       Date Order_Demand
count        1048575   1048575          1048575    1037336      1048575
unique          2160         4               33       1729         3828
top     Product_1359    Whse_J     Category_019  2013/9/27        1000
freq           16936    764447           481099       2075       112682

In [9]:
data_df.pivot_table(values="Order_Demand", index="Product_Category", aggfunc=[np.sum, np.mean, np.median])

In [14]:
print(data_df.dtypes)

Product_Code  Warehouse  Product_Category  Date       Order_Demand
Product_0058  Whse_J     Category_019      2012/2/14  1               23
                                           2013/6/28  1               19
                                           2014/3/14  1               18
                                           2012/4/16  1               17
                                           2015/4/22  1               16
                                                                      ..
Product_1299  Whse_A     Category_019      2013/5/13  6600             1
                                                      1000             1
                                           2013/4/9   100              1
                                           2013/4/5   7500             1
Product_2151  Whse_J     Category_019      2016/9/8   10               1
Name: count, Length: 386926, dtype: int64