In [16]:
import pandas as pd
import numpy as np
import matplotlib as plt

data_df = pd.read_csv("data.csv", parse_dates=["Date"])

format_demand = lambda x: pd.to_numeric(str(x).strip("()"))

data_df["Order_Demand"] = [format_demand(x[1]["Order_Demand"]) for x in data_df.iterrows()]

formatted_df = data_df[data_df["Order_Demand"] != 0].dropna()

print(formatted_df.head(10))

print(formatted_df.dtypes)

   Product_Code Warehouse Product_Category       Date  Order_Demand
0  Product_0993    Whse_J     Category_028 2012-07-27           100
1  Product_0979    Whse_J     Category_028 2012-01-19           500
2  Product_0979    Whse_J     Category_028 2012-02-03           500
3  Product_0979    Whse_J     Category_028 2012-02-09           500
4  Product_0979    Whse_J     Category_028 2012-03-02           500
5  Product_0979    Whse_J     Category_028 2012-04-19           500
6  Product_0979    Whse_J     Category_028 2012-06-05           500
7  Product_0979    Whse_J     Category_028 2012-06-27           500
8  Product_0979    Whse_J     Category_028 2012-07-23           500
9  Product_0979    Whse_J     Category_028 2012-08-29           500
Product_Code                object
Warehouse                   object
Product_Category            object
Date                datetime64[ns]
Order_Demand                 int64
dtype: object

In [17]:
formatted_df.pivot_table(values="Order_Demand", index="Product_Category", aggfunc=[np.sum, np.mean, np.median, min, max, "count"])

,sum,mean,median,min,max,count
,Order_Demand,Order_Demand,Order_Demand,Order_Demand,Order_Demand,Order_Demand
Product_Category,,,,,,
Category_001,1757473,18.038130,5,1,2075,97431
Category_002,628,8.155844,4,1,60,77
Category_003,392950,95.122246,32,1,1860,4131
Category_004,99046,302.892966,200,1,2400,327
Category_005,199674520,1976.916725,500,10,500000,101003
Category_006,405571330,11501.654189,3000,1,1000000,35262
Category_007,128691531,1570.749799,100,1,1144000,81930
Category_008,17568,11.305019,4,1,200,1554
Category_009,3782141,192.976223,50,1,26759,19599
Category_010,22554,23.179856,7,1,880,973
Category_011,2892842,125.231255,10,1,34920,23100
Category_012,70006,61.462687,20,1,1777,1139
Category_013,309618,83.185922,20,1,15850,3722
Category_014,100,3.846154,2,1,20,26
Category_015,834505,36.647710,8,1,30000,22771
Category_016,16850,455.405405,32,1,11616,37
Category_017,49457,80.548860,4,1,4000,614
Category_018,46023,8.853982,4,1,485,5198
Category_019,4240159257,9492.929280,1750,1,4000000,446665
Category_020,2393813,687.482194,200,1,35000,3482
Category_021,4480570,86.844533,10,1,20000,51593
Category_022,606051,70.161033,15,1,6882,8638
Category_023,3337724,423.730354,100,1,80000,7877
Category_024,1057317,51.083052,6,1,11800,20698
Category_025,486000,13885.714286,9000,3000,64000,35
Category_026,281996,19.324059,10,1,5000,14593
Category_027,103,4.120000,2,1,24,25
Category_028,49055354,1682.340067,250,1,345200,29159
Category_029,23979,35.736215,20,1,320,671
Category_030,40966555,3154.185017,1000,1,837000,12988
Category_031,13022,5.839462,3,1,198,2230
Category_032,4473048,482.061429,36,2,150000,9279
Category_033,42610000,23195.427327,10000,10000,200000,1837

In [18]:
formatted_df.describe()

                                Date  Order_Demand
count                        1008664  1.008664e+06
mean   2014-06-19 04:10:54.026316544  5.090074e+03
min              2011-01-08 00:00:00  1.000000e+00
25%              2013-04-03 00:00:00  2.500000e+01
50%              2014-06-16 00:00:00  3.000000e+02
75%              2015-08-31 00:00:00  2.000000e+03
max              2017-01-09 00:00:00  4.000000e+06
std                              NaN  2.947161e+04